.nav {
  display: none;
}

@media screen and (min-width: $tabletWidth) and (max-width: $desktopWidth - 1px) {
  .nav {
    display: initial;
  }

  .nav__toggle {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 24px;
    height: 16px;
    border: 2px solid $default-color;
    border-left: none;
    border-right: none;
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      width: 100%;
      height: 2px;
      background-color: $default-color;
    }
  }
}
